@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgb(223, 223, 223);
  font-size: 1.2rem;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: bisque;
}

header {
  padding: 10px;
}

.departures {
  background-color: rgb(65, 60, 60);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.departures table {
  background-color: rgb(85, 83, 83);
  text-align: left;
  border-radius: 10px;
}

#time {
  width: 160px;
}

#flight {
  width: 205px;
}

#destination {
  width: 700px;
}

#gate {
  width: 135px;
}

#remarks {
  width: 240px;
}
