@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgb(223, 223, 223);
  font-size: 1.2rem;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: bisque;
}

header {
  padding: 10px;
}

.departures {
  background-color: rgb(65, 60, 60);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.departures table {
  background-color: rgb(85, 83, 83);
  text-align: left;
  border-radius: 17px;
}

.departures table div {
  border: solid 4px rgb(26, 26, 26);
  background-color: black;
  min-width: 20px;
  height: 40px;
  float: left;
}

#time {
  width: 160px;
}

#flight {
  width: 205px;
}

#destination {
  width: 530px;
}

#gate {
  width: 120px;
}

#remarks {
  width: 260px;
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
